.blog-post {
  width: 80%;
  max-width: 1100px;
  background: white;
  margin: 20px auto 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

summary {
  margin-top: 20px;
  display: inline-block;
}

summary h3 {
  width: 100%;
  font-size: 2.5em;
  color: #555;
  font-weight: 500;
}

summary .blog-date {
  width: 100%;
  font-size: 15px;
  padding-left: 2px;
  color: #909090;
}

article {
  padding-bottom: 50px;
}

.blog-content {
  width: 55%;
  margin: auto;
}

.blog-img {
  width: 60%;
  height: 0;
  margin: 50px auto 60px;
  padding-bottom: 35%;
  background: url('https://images.unsplash.com/photo-1446797376004-9352dfc9f789?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925')
    center center;
  background-size: cover;
  position: relative;
}

.blog-img-caption {
  position: absolute;
  bottom: -30px;
  font-size: 0.9em;
  color: #888;
  left: 4%;
}

b {
  font-weight: bold;
}

@media (min-width: 768px) {
  .blog-post {
    width: 90%;
  }

  .blog-content {
    width: 75%;
  }

  .blog-hero {
    padding-bottom: 35%;
  }
}